<!DOCTYPE html>
<html>

<head>
    <style>
        .download-button {
            background: #ff9800;
            ;
            margin-left: 15px;
            padding: 10px 20px;
            color: white;
            border-radius: 8px;
            text-decoration: none;
            font-weight: bold;
        }

        .orange-link {
            color: #ff9800;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <h1>✅ JSON Recibido #{{ id }}</h1>

    <pre>{{ json_data|safe }}</pre>

    <div>
        <a href="{% url 'recibir_json_pdf' %}" class="orange-link">⬅ Volver a esperar más JSON</a>

        <a href="{% url 'descargar_json_pdf' id=id %}" class="download-button" target="_blank">
            ⬇ Descargar como PDF
        </a>
    </div>

</body>

</html>